<div class="container">
    <h2 class="title">LOJISTAS</h2>
    <div class="content">
        <div class="text">
            <p>Não fazemos vendas a varejo. Atendemos ATACADO EXCLUSIVAMENTE A LOJAS FÍSICAS.<br><br>
                Vendas ao Exterior: Solicite login e senha para acessar ao nosso catálogo.<br><br>
                Dentro do Brasil: Trabalhamos com <span class="green">PRONTA ENTREGA</span>.</p>
            <p class="description">*Pronta Entrega: o cliente será atendido por um 
                representante que tem estoque das nossas peças para realizar a entrega 
                imediata do produto escolhido.</p>            
        </div>
    </div>
    <div class="buttons">
        <app-text-button text="TENHO LOJA FÍSICA E QUERO CADASTRAR"
        id="signUp" [hidden]="!showSignUp"></app-text-button>
        <app-text-button color="mainColor" background="white" text="TENHO CHAVE DE ACESSO"
        id="login"></app-text-button>
        <!-- <button class="signUp" (click)="sendTo('/clients')" [hidden]="!showSignUp">TENHO LOJA FÍSICA E QUERO CADASTRAR</button>
        <button class="login" (click)="sendTo('/clients/login')">ESTOU CADASTRADO E TENHO CHAVE DE ACESSO</button> -->
    </div>
</div>