<div class="container">
    <h2 class="title">ARTE PARA O MUNDO</h2>
    <div class="content">
        <div class="gif">
            <img id="gif" alt="GIF de diferentes modelos de diversas partes do mundo usando
            peças Monica Krexa">
        </div>
        <div class="text">
            <p class="description">INCLUSÃO E VERSATILIDADE SÃO CARACTERÍSTICAS PRÓPRIAS DA 
                MARCA QUE PRODUZ PEÇAS REGULÁVEIS, PENSADAS E DESENHADAS PARA ADAPTAR-SE À 
                FORMA E AO TAMANHO DE TODOS QUE QUEIRAM USÁ-LAS.</p>
            <p>Através da escolha do alumínio, a designer sai em busca de um mercado que não 
                é exclusivamente elitista, desenvolvendo assim, coleções bem acessíveis. É 
                neste momento que a artista aplica sua técnica de joalheira para o alumínio, 
                metal com um custo menor quando comparado a outros metais nobres, inusitado 
                para o mundo da moda.<br><br>A marca Monica Krexa está presente em diferentes museus 
                de arte contemporânea como: o Museu do Amanhã, no Rio de Janeiro, no Brasil; 
                Museum of Contemporary Art Chicago nos Estados Unidos; Museum of Contemporary 
                Art Berlin, na Alemanha e na galeria de arte Dar Sl&#8209;Anda, no Líbano. Suas 
                peças são vendidas em todo Brasil, parte do Sul da América, Europa, Austrália e Israel. </p>
        </div>
    </div>
</div>