<div class="container">
    <h2 class="title">{{ 'world.title' | translate }}</h2>
    <div class="content">
        <div class="gif">
            <img id="gif" alt="GIF de diferentes modelos de diversas partes do mundo usando
            peças Monica Krexa">
        </div>
        <div class="text">
            <p class="description">{{ 'world.description' | translate }}</p>
            <p>{{ 'world.paragraphs.one' | translate }}<br><br>
                {{ 'world.paragraphs.two' | translate }}</p>
        </div>
    </div>
</div>