<div class="container">
    <h2 class="title">COMO CUIDAR DA SUA PEÇA</h2>
    <div class="content">
        <div class="item friction">
            <div class="img">
                <img alt="Ícone representativo de atrito.">
            </div>
            <div class="text">
                <p>Evite o atrito com outros objetos que possam causar "ferimentos" na peça. 
                    Não guarde sua joia dentro da bolsa com chave, moedas ou outros 
                    objetos metálicos, pois a mesma pode sofrer arranhões.</p>
            </div>
        </div>
        <span class="divider"></span>
        <div class="item time">
            <div class="img">
                <img alt="Ícone representativo de tempo.">
            </div>
            <div class="text">
                <p>Com o passar do tempo, o desgaste natural é inevitável... Apenas as 
                    peças de alumínio na cor natural poderão se manter com as mesmas aparências. 
                    Os cordões podem ter variação no tempo de vida útil. O uso de perfumes ou 
                    outros fatores úmidos podem acelerar o desgaste.</p>
            </div>
        </div>
        <span class="divider"></span>
        <div class="item wash">
            <div class="img">
                <img alt="Ícone representativo de lavagem.">
            </div>
            <div class="text">
                <p>Caso precisem de limpeza, é só passar um pano umedecido e sabão. Somente 
                    as joias em cores naturais de alumínio suportam uma lavagem mais agressiva. 
                    Se desejar dar brilho e renovar o acabamento, pode lavar a peça com esponja e sabão.</p>
            </div>
        </div>
        <span class="divider"></span>
        <div class="item travel">
            <div class="img">
                <img alt="Ícone representativo de mala de viagem.">
            </div>
            <div class="text">
                <p>Para transportar as peças na mala ou levar em viagem, recomendo colocá-las 
                    em saquinhos de tecido para evitar qualquer atrito.</p>
            </div>
        </div>
    </div>
    <div class="note">
        <h4><span>SUA PEÇA:</span> É RESISTENTE À ÁGUA <span>/</span> É RESISTENTE AO SOL 
            <span>/</span> NÃO ESCURECE <span>/</span> NÃO ENFERRUJA <span>/</span> É LIVRE DE NÍQUEL</h4>
    </div>
</div>