<div class="container">
    <h2 class="title">{{ 'color.maintaining.title' | translate }}</h2>
    <div class="content">
        <div class="item friction">
            <div class="img">
                <img alt="Ícone representativo de atrito.">
            </div>
            <div class="text">
                <p>{{ 'color.maintaining.cards.friction.text' | translate }}</p>
            </div>
        </div>
        <span class="divider"></span>
        <div class="item time">
            <div class="img">
                <img alt="Ícone representativo de tempo.">
            </div>
            <div class="text">
                <p>{{ 'color.maintaining.cards.time.text' | translate }}</p>
            </div>
        </div>
        <span class="divider"></span>
        <div class="item wash">
            <div class="img">
                <img alt="Ícone representativo de lavagem.">
            </div>
            <div class="text">
                <p>{{ 'color.maintaining.cards.wash.text' | translate }}</p>
            </div>
        </div>
        <span class="divider"></span>
        <div class="item travel">
            <div class="img">
                <img alt="Ícone representativo de mala de viagem.">
            </div>
            <div class="text">
                <p>{{ 'color.maintaining.cards.travel.text' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="note">
        <h4><span>{{ 'color.maintaining.warningTexts.one' | translate }}</span> 
            {{ 'color.maintaining.warningTexts.two' | translate }} <span>/</span> 
            {{ 'color.maintaining.warningTexts.three' | translate }} <span>/</span> 
            {{ 'color.maintaining.warningTexts.four' | translate }} <span>/</span> 
            {{ 'color.maintaining.warningTexts.five' | translate }} <span>/</span> 
            {{ 'color.maintaining.warningTexts.six' | translate }}</h4>
    </div>
</div>