@import '../../variables.scss';

.field{
    color: $white-color;  
    font-family: $quaternary-font;
}

.form-horizontal{
    padding: 0 7vw
}

.required-specs{
    color: $orange-primary;
    padding-bottom: 10px;
    font-size: 12px;
    font-family: $quaternary-font;
}

h5{
    color: $white-color;
    font-family: $tertiary-font;
    font-size: 30px;
}