<div class="container">
    <h2 class="title">ANODIZADO</h2>
    <div class="content">
        <div class="anodized">
            <img id="anodized" alt="Diferentes colares coloridos através da anodização">
        </div>
        <div class="text">
            <p>O processo para dar cores as peças de alumínio é chamado de "anodização". 
                Trata-se de um complexo sistema que cria uma camada de proteção sobre a superfície 
                das peças, conferindo-lhes um fino acabamento que aporta dureza e cor. <br><br>Mesmo após este 
                processo as peças seguem resistentes ao sol, não enferrujam e não descascam a pintura. 
                Este procedimento é ecológico, pois além de utilizar produtos não tóxicos, os banhos das 
                peças são recuperados, reciclados e reutilizados. <br><br>É uma infinidade de cores que podem ser 
                escolhidas e combinadas!</p>
        </div>
    </div>
</div>