<div class="container">
    <h2 class="title">{{ 'artist.title' | translate }}</h2>
    <div class="content">
        <img id="monochromatic" alt="Monica Krexa em branco e preto usando um óculos e um colar de espirais de alumínio na frente de um fundo de madeira com a bandeira do Brasil">
        <img id="colored" alt="Três imagens em uma separadas por cortes diagonais, na primeira um quadro pintado pela artista da Elizabeth Taylor com decorações em alumínio, na segunda a artista com óculos de espirais de alumínio na frente de um fundo de madeira com a bandeira do Brasil, e na terceira folhas verdes">
        <div class="text">
            <p class="description">{{ 'artist.description' | translate }}</p>
            <p>{{ 'artist.paragraphs.one' | translate }}<br><br>
                {{ 'artist.paragraphs.two' | translate }}
            </p>
            <h3><span>{{ 'artist.more' | translate }}</span> {{ 'artist.mentions' | translate }}</h3>
            <div class="mentions">
                <button (click)="goToLink('https://blog.igaramodaarte.com.br/a-arte-em-aluminio-de-monica-krexa/')" class="igara">
                    <img alt="Logo da marca Igara" class="logo">
                </button>
                <button (click)="goToLink('https://www.melkojournal.com.au/blog/2019/4/26/monica-krexa-jewellery-designer')" class="melko">
                    <img alt="Logo da marca Melko" class="logo">
                </button>
                <button (click)="goToLink('https://www.sistemaajorio.com.br/web/index.php/entidades-2/notas-mainmenu-27/1028-monica-krexa-e-eneida-franca-representam-o-brasil-na-bijorhca-2018')" class="ajorio">
                    <img alt="Logo da marca Ajorio" class="logo">
                </button>
            </div>
        </div>
    </div>
</div>