<div class="full-page">
    <div class="content">
        <h2>LOGIN</h2>
        <div class="login-iput">
            <div class="flexbox-row">
                <input type="password" class="password" placeholder="Chave de acesso">
                <!-- <button class="view">Ver</button>
                <button class="login">Entrar</button> -->
                <app-squared-button icon="view" color="grey" background="white" id="view"></app-squared-button>
                <app-squared-button icon="next" color="white" background="mainColor" id="login"></app-squared-button>
            </div>
        </div>
        <p class="incorrect">X Senha incorreta.</p>
        <a href="javascript:void(0)"><h4 class="unknown">Não sei a senha.</h4></a>
        <div class="explanation" style="visibility: hidden">
            <h3>Não tem uma chave de acesso?</h3>
            <p><a href="/clients">Clique aqui</a> para saber mais e preencher o cadastro.</p>
            <p class="extra">Caso já tenha feito o cadastro, procure a chave de acesso
                na sua caixa de entrada de email, e lembre de verificar a caixa 
                de spam! Caso o problema persista, entre em contato conosco.</p>
        </div>
    </div>
</div>