<div class="content">
    <h2>LOGIN</h2>
    <input type="text" class="password" placeholder="Chave de acesso">
    <a (click)="switchExplanationVisibility()" href="javascript:void(0)"><h4>Não sei a senha.</h4></a>
    <div class="explanation">
        <h3>Não tem uma chave de acesso?</h3>
        <p><a href="/clients">Clique aqui</a> para saber mais e preencher o cadastro.</p>
        <p class="extra">Caso já tenha feito o cadastro, procure a chave de acesso
            na sua caixa de entrada de email, e lembre de verificar a caixa 
            de spam! Caso o problema persista, entre em contato conosco.</p>
    </div>
</div>