@import '../../../variables.scss';

.full-page{
    width: 100%;
    display: flex;
    justify-content: center;
}

.flexbox-row {
    display: flex;
    justify-content: center;
}

.content{
    margin-top: 100px;
    color: $white-primary;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    width: 270px;
    max-width: 100%;

    #login{
        padding-left: 3px;
    }

    .login-input{
        position:relative;
    }

    .password{
        font-family: $primary-font;
        border: none;
        padding: 5px 9px;
        border-radius: 2px;
        max-width: 50vw;

        &:focus,&:hover{
            outline: none;
            border: none;
        }
    }

    h2{
        color: $main-color-primary;
        font-family: $secondary-font;
        font-size: 2.5em;
    }
    h3{
        //color: $secondary-color;
        font-family: $primary-font;
        font-size: 1.3em;
    }
    p{
        font-family: $primary-font;
        font-size: 1.1em;
    }
    .unknown,.extra{
        font-family: $primary-font;
        font-size: 1em;
        
    }
    .extra{
        text-align: justify;
        text-align-last: center;
    }
    a{
        color: $main-color-primary;
        text-decoration: underline;
    }

    .incorrect{
        margin-top: 5px;
        margin-bottom: 0;
        color: $red-secondary;
        font-size: .8em;
        display: none;
    }
    .unknown{
        margin-top: 20px
    }
}

@media screen and (max-width: 900px){
    .content{
        h2{
            font-size: 2em;
        }
        h3{
            font-size: 1em;
        }
        h4{
            font-size: .8em;
        }
        .progress{
            margin: 0 20vw;
        }
    }
}