<div class="full-page">
    <div class="content">
        <h2>LOGIN</h2>
        <div class="login-iput">
            <div class="flexbox-row">
                <input type="password" class="password" placeholder="Chave de acesso">
                <!-- <button class="view">Ver</button>
                <button class="login">Entrar</button> -->
                <app-squared-button icon="view" color="grey" background="white" id="view"></app-squared-button>
                <app-squared-button icon="next" color="white" background="mainColor" id="login"></app-squared-button>
            </div>
        </div>
        <p class="incorrect">{{ 'buyers.login.incorrect' | translate }}</p>
        <a href="javascript:void(0)"><h4 class="unknown">{{ 'buyers.login.unknown' | translate }}</h4></a>
        <div class="explanation" style="visibility: hidden">
            <h3>{{ 'buyers.login.explanation.title' | translate }}</h3>
            <p class="link">
                <a href="/buyers">{{ 'buyers.login.explanation.link' | translate }}</a> {{ 'buyers.login.explanation.afterLink' | translate }}
            </p>
            <p class="extra">{{ 'buyers.login.explanation.text' | translate }}</p>
        </div>
    </div>
</div>