<app-shopkeepers [showSignUp]="false"></app-shopkeepers>

<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <h5>FAÇA O SEU CADASTRO</h5>
  <p class="required-specs">*Itens obrigatórios</p>

  <app-input-field class="field" formControlName="nomeLoja"
    [classeCss]="aplicaCssErro('nomeLoja')"
    id="nomeLoja" label="Nome da Loja" [control]="getControl('nomeLoja')"
  ></app-input-field>

  <app-input-field class="field" formControlName="nomeRepresentante"
    [classeCss]="aplicaCssErro('nomeRepresentante')"
    id="nomeRepresentante" label="Nome do(a) Representante" [control]="getControl('nomeRepresentante')"
  ></app-input-field>

  <app-input-field class="field" formControlName="cnpj"
    [classeCss]="aplicaCssErro('cnpj')" [isRequired]="false"
    id="cnpj" label="CNPJ (Somente para lojas no Brasil)" [control]="getControl('cnpj')"
  ></app-input-field>

  <app-input-field class="field" formControlName="email"
    [classeCss]="aplicaCssErro('email')"
    id="email" label="Email" [control]="getControl('email')"
  ></app-input-field>

  <app-input-field class="field" formControlName="telefone"
    [classeCss]="aplicaCssErro('telefone')"
    id="telefone" label="Telefone" [control]="getControl('telefone')"
  ></app-input-field>

  <app-input-field class="field" formControlName="site"
    [classeCss]="aplicaCssErro('site')" [isRequired]="false"
    id="site" label="Site" [control]="getControl('site')"
  ></app-input-field>

  <app-input-field class="field" formControlName="instagram"
    [classeCss]="aplicaCssErro('instagram')"
    id="instagram" label="Instagram" [control]="getControl('instagram')"
  ></app-input-field>

  <app-input-field class="field" formControlName="outrasRedes"
    [classeCss]="aplicaCssErro('outrasRedes')" [isRequired]="false"
    id="outrasRedes" label="Outras Redes Sociais" [control]="getControl('outrasRedes')"
  ></app-input-field>

  <app-input-field class="field" formControlName="endereco"
    [classeCss]="aplicaCssErro('endereco')"
    id="endereco" label="Endereço Completo" [control]="getControl('endereco')"
  ></app-input-field>

  <app-input-field class="field" formControlName="mensagem"
    [classeCss]="aplicaCssErro('mensagem')" [isTextArea]="true"
    id="mensagem" label="Mensagem" [control]="getControl('mensagem')"
  ></app-input-field>

  <button type="submit" class="btn btn-submit">ENVIAR CADASTRO</button>

</form>

<!-- <span style="color:white">{{ formulario.value | json }}</span> -->
