<app-buyers [showSignUp]="false"></app-buyers>

<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <h5>{{ 'buyers.form.title' | translate }}</h5>
  <p class="required-specs">{{ 'buyers.form.required' | translate }}</p>

  <app-input-field
    class="field"
    formControlName="storeName"
    [classeCss]="aplicaCssErro('storeName')"
    id="storeName"
    [control]="getControl('storeName')"
  ></app-input-field>

  <app-input-field
    class="field"
    formControlName="name"
    [classeCss]="aplicaCssErro('name')"
    id="name"
    [control]="getControl('name')"
  ></app-input-field>

  <app-input-field
    class="field"
    formControlName="cnpj"
    [classeCss]="aplicaCssErro('cnpj')"
    [isRequired]="false"
    id="cnpj"
    [control]="getControl('cnpj')"
  ></app-input-field>

  <app-input-field
    class="field"
    formControlName="email"
    [classeCss]="aplicaCssErro('email')"
    id="email"
    [control]="getControl('email')"
  ></app-input-field>

  <app-input-field
    class="field"
    formControlName="phone"
    [classeCss]="aplicaCssErro('phone')"
    id="phone"
    [control]="getControl('phone')"
  ></app-input-field>

  <app-input-field
    class="field"
    formControlName="site"
    [classeCss]="aplicaCssErro('site')"
    [isRequired]="false"
    id="site"
    [control]="getControl('site')"
  ></app-input-field>

  <app-input-field
    class="field"
    formControlName="instagram"
    [classeCss]="aplicaCssErro('instagram')"
    id="instagram"
    [control]="getControl('instagram')"
  ></app-input-field>

  <app-input-field
    class="field"
    formControlName="social"
    [classeCss]="aplicaCssErro('social')"
    [isRequired]="false"
    id="social"
    [control]="getControl('social')"
  ></app-input-field>

  <app-input-field
    class="field"
    formControlName="address"
    [classeCss]="aplicaCssErro('address')"
    id="address"
    [control]="getControl('address')"
  ></app-input-field>

  <app-input-field
    class="field"
    formControlName="message"
    [classeCss]="aplicaCssErro('message')"
    [isTextArea]="true"
    id="message"
    [control]="getControl('message')"
  ></app-input-field>

  <!-- <button type="submit" class="btn btn-submit">ENVIAR CADASTRO</button> -->
  <app-text-button
    type="submit"
    id="submitSignUp"
    [text]="submitText"
  ></app-text-button>
</form>

<!-- <span style="color:white">{{ formulario.value | json }}</span> -->
