<div class="container">
    <h2 class="title">ARTE SUSTENTÁVEL</h2>
    <div class="content">
        <div class="text">
            <p class="description">COM O CONCEITO DE SUSTENTABILIDADE COMO FILOSOFIA
                DE VIDA, O ALUMÍNIO É O ASPECTO DIFERENCIAL DA MARCA:
                ECOLOGICAMENTE CORRETO, ELE PODE SER RECICLADO
                INFINITAS VEZES.</p>
            <p>Seu atelier localizado em Búzios, foi inteiramente planejado para cuidar do meio ambiente. Desde o telhado, que é feito com membranas ecológicas adaptadas com um curioso sistema de garrafas recicladas, para atrair luz solar e não utilizar luz elétrica.
                <br><br>A água da chuva é captada em uma cisterna especial, filtrada e usada para lavar todo material utilizado na produção das peças. Todo cuidado com o meio ambiente se faz presente desde o começo até o final da elaboração, totalmente artesanal, de cada uma das peças. </p>    
        </div>
        <div class="icons">
            <div id="artisanal">
                <img class="bottom" alt="Ícone de uma mão com um coração em cima">
                <h4>PEÇAS ARTESANAIS</h4>
                <p>Todas as nossas peças são feitas a mão, uma a uma, com todo amor e cuidado.</p>
                <img class="top hover" alt="Ícone de uma mão com um coração em cima">
            </div>
            <div id="chemical">
                <img class="bottom" alt="Ícone de instrumento químico com um risco em cima">
                <h4>SEM QUÍMICOS</h4>
                <p>Não são utilizados químicos de nenhum tipo na elaboração das nossas peças.</p>
                <img class="top" alt="Ícone de instrumento químico com um risco em cima">
            </div>
            <div id="mechanical"> 
                <img class="mechanical bottom" alt="Ícone de engrenagem">
                <h4>ENERGIA MECÂNICA</h4>
                <p>A maioria das nossas máquinas funcionam através de força mecânica, aliviando o uso de energia elétrica. </p>
                <img class="mechanical top" alt="Ícone de engrenagem">
            </div>
            <div id="light">
                <img class="bottom" alt="Ícone de uma garrafa com uma lámpada no topo">
                <h4>LUZ NATURAL</h4>
                <p>No teto do nosso atelier, instalamos garrafas pet recicladas que permitem a passagem de luz natural. </p>            
                <img class="top" alt="Ícone de uma garrafa com uma lámpada no topo">
            </div>
            <div id="recicle">
                <img class="bottom" alt="Ícone de lixeira com setas de reutilização">
                <h4>REÚSO DE MATERIAIS</h4>
                <p>Depois de um rigoroso processo de seleção, os materiais excedentes são reutilizados. </p>           
                <img class="top" alt="Ícone de lixeira com setas de reutilização">
            </div>
            <div id="water">
                <img class="bottom" alt="Ícone de coleta de água de chuva">
                <h4>RECOLEÇÃO DE ÁGUA</h4>
                <p>A água de chuva é captada por uma cisterna especial, e usada para lavar os materiais.</p>               
                <img class="top" alt="Ícone de coleta de água de chuva">
            </div>
            
        </div>
        <!-- <button (click)="teste()">teste</button> -->
    </div>
</div>