<div class="container">
    <h2 class="title">{{ 'sustainability.title' | translate }}</h2>
    <div class="content">
        <div class="text">
            <p class="description">{{ 'sustainability.description' | translate }}</p>
            <p>{{ 'sustainability.paragraphs.one' | translate }}<br><br>
                {{ 'sustainability.paragraphs.two' | translate }}
            </p>    
        </div>
        <div class="icons">
            <div id="artisanal">
                <img class="bottom" alt="Ícone de uma mão com um coração em cima">
                <h4>{{ 'sustainability.cards.artisanal.title' | translate }}</h4>
                <p>{{ 'sustainability.cards.artisanal.text' | translate }}</p>
                <img class="top hover" alt="Ícone de uma mão com um coração em cima">
            </div>
            <div id="chemical">
                <img class="bottom" alt="Ícone de instrumento químico com um risco em cima">
                <h4>{{ 'sustainability.cards.chemical.title' | translate }}</h4>
                <p>{{ 'sustainability.cards.chemical.text' | translate }}</p>
                <img class="top" alt="Ícone de instrumento químico com um risco em cima">
            </div>
            <div id="mechanical"> 
                <img class="mechanical bottom" alt="Ícone de engrenagem">
                <h4>{{ 'sustainability.cards.mechanical.title' | translate }}</h4>
                <p>{{ 'sustainability.cards.mechanical.text' | translate }}</p>
                <img class="mechanical top" alt="Ícone de engrenagem">
            </div>
            <div id="light">
                <img class="bottom" alt="Ícone de uma garrafa com uma lámpada no topo">
                <h4>{{ 'sustainability.cards.light.title' | translate }}</h4>
                <p>{{ 'sustainability.cards.light.text' | translate }}</p>            
                <img class="top" alt="Ícone de uma garrafa com uma lámpada no topo">
            </div>
            <div id="recycle">
                <img class="bottom" alt="Ícone de lixeira com setas de reutilização">
                <h4>{{ 'sustainability.cards.recycle.title' | translate }}</h4>
                <p>{{ 'sustainability.cards.recycle.text' | translate }}</p>           
                <img class="top" alt="Ícone de lixeira com setas de reutilização">
            </div>
            <div id="water">
                <img class="bottom" alt="Ícone de coleta de água de chuva">
                <h4>{{ 'sustainability.cards.water.title' | translate }}</h4>
                <p>{{ 'sustainability.cards.water.text' | translate }}</p>               
                <img class="top" alt="Ícone de coleta de água de chuva">
            </div>
            
        </div>
    </div>
</div>