<div class="container">
    <h2 class="title">COR E ORIGINALIDADE</h2>
    <div class="content">
        <div class="gif">
            <img id="gif" alt="GIF de fotos coloridas com diferentes peças Monica Krexa">
        </div>
        <div class="text">
            <p class="description">A MARCA MONICA KREXA SE INSPIRA EM UM DINAMISMO E EXUBERÂNCIA TIPICAMENTE
                BRASILEIRO, DANDO VIDA A UM ESTILO IRREVERENTE, DIVERTIDO, COLORIDO E ORIGINAL.</p>
            <p>As peças da Monica encantam por sua ampla gama de cores que fazem com que todas
                elas sejam únicas. O processo para colorir as peças é bastante complexo, exigindo
                muita técnica, habilidade e paciência para atingir a beleza desenhada em cada uma
                dessas joias.<br><br>Seu material é o alumínio, com o qual modela as coleções que combinam
                arte e sustentabilidade ao mesmo tempo. As cores do alumínio nunca escurecem e,
                por isso, as peças podem ser usadas na praia, são resistentes ao sol e nunca oxidam.</p>
        </div>
    </div>
</div>
<app-anodized></app-anodized>
<app-maintaining></app-maintaining>