<div class="container">
    <h2 class="title">{{ 'color.title' | translate }}</h2>
    <div class="content">
        <div class="gif">
            <img id="gif" alt="GIF de fotos coloridas com diferentes peças Monica Krexa">
        </div>
        <div class="text">
            <p class="description">{{ 'color.description' | translate }}</p>
            <p>{{ 'color.paragraphs.one' | translate }}<br><br>
                {{ 'color.paragraphs.two' | translate }}
            </p>
        </div>
    </div>
</div>
<app-anodized></app-anodized>
<app-maintaining></app-maintaining>