@import "../../variables.scss";

#logo-top{
    content: url("../../images/logos/reduced/Horizontal-Black.png");
    max-height: 35px;
    margin: 20px 0px;
    padding-left: 15px;
    max-width: 60vmin;
}

.nav-item > .nav-link{
    color: $black-primary;
    text-align: center;
    letter-spacing: .05em;
    font-family: $secondary-font;
    transition: .5s;

    &.selected, &.force-selected, &:hover{
        color: $main-color-secondary;
    }
}

nav.navbar{
    min-height: 101px;
}

.navbar-toggler{
    border:none;
    &:focus{
        box-shadow: none;
    }
}