@import '../../../variables.scss';

.field{
    color: $white-color;
    background-color: $grey;
    border: 0;
    border-bottom: 3px solid $white-color;
    width: 100%;

    &:focus{
        outline: none;
    }
}

textarea{
    height:200px;
}

.required{
    color: $orange-primary
}
