$primary-color: black;
$secondary-color: #E95168;
$tertiary-color: #e77a8a;

$white-color: white;
$hover-white: rgb(206, 206, 206);
$dark-grey: #1A1A1A;
$grey: #2e2e2e;

$green-primary: #2DAB66;
$green-secondary: #178a4a;
$blue-primary: #1173B4;
$yellow-primary: #FED43F;
$orange-primary: #F16D2D;
$red-primary: #aa3131;

$white-text: rgb(226, 226, 226);

$primary-font: 'Hubballi', sans-serif;
$secondary-font: 'Dosis', sans-serif;
$tertiary-font: 'Abel', sans-serif;
$quaternary-font: 'Quattrocento Sans', sans-serif;
$quinary-font: 'Roboto Condensed', sans-serif;
