$main-color-primary: #E95168;
$main-color-secondary: #e77a8a;

$white-primary: white;
$white-secondary: rgb(206, 206, 206);
$grey-primary: #2e2e2e;
$grey-secondary: #1A1A1A;
$black-primary: black;
$white-text: rgb(226, 226, 226);

$green-primary: #2DAB66;
$green-secondary: #178a4a;
$blue-primary: #1173B4;
$yellow-primary: #FED43F;
$orange-primary: #F16D2D;
$red-primary: #aa3131;
$red-secondary: #eb2020;


$primary-font: 'Hubballi', sans-serif;
$secondary-font: 'Dosis', sans-serif;
$tertiary-font: 'Abel', sans-serif;
$quaternary-font: 'Quattrocento Sans', sans-serif;
$quinary-font: 'Roboto Condensed', sans-serif;
